* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #293136;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button,
input {
  font: inherit;
}

.green {
  color: rgb(73, 196, 196);
}

.red {
  color: rgb(196, 73, 73);
}

.game-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.heading {
  color: rgb(245, 255, 255);
  font-size: 4rem;
  margin: 30px 0;
  text-align: center;
}

.splash {
  max-width: 400px;
}

.input-group {
  margin-bottom: 30px;
  text-align: center;
}

.input-label {
  color: rgb(73, 196, 196);
  display: block;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.player-name,
.btn,
.input-label {
  letter-spacing: 2px;
}

.player-name,
.btn {
  border: none;
  border-radius: 50px;
  display: block;
  font-size: 2rem;
  padding: 14px 30px 10px;
  width: 100%;
}

.player-name {
  border-bottom: 3px solid #3c4850;
  color: #333;
  font-size: 2rem;
  outline: none;
}

.btn {
  background-color: rgb(73, 196, 196);
  border-bottom: 5px solid rgb(51, 143, 143);
  color: #FFF;
  cursor: pointer;
}

.btn:active {
  background-color: rgb(62, 172, 172);
}

.game {
  align-items: center;
  display: flex;
  gap: 5rem;
}

.row {
  display: flex;
}

.row:not(:last-of-type) {
  border-bottom: 2px solid rgb(192, 192, 192);
}

.tile {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  height: 75px;
  justify-content: center;
  width: 75px;
}

.tile:not(:last-of-type) {
  border-right: 2px solid rgb(192, 192, 192);
}

.tile:hover {
  background-color: #ececec;
}

.player {
  align-items: center;
  color: rgb(73, 196, 196);
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}

.player__name {
  border-radius: 50px;
  color: #FFF;
  letter-spacing: 2px;
  margin-bottom: 15px;
  min-width: 200px;
  padding: 10px 10px 3px;
  text-align: center;
}

[data-player-one-name] {
  background-color: rgb(73, 196, 196);
}

[data-player-two-name] {
  background-color: rgb(196, 73, 73);
}

[data-player-one-name],
[data-player-two-name] {
  opacity: 0.3;
}

.player--active {
  opacity: 1;
}

.player__score {
  color: #fff;
  font-size: 4rem;
  font-weight: 200;
}

.board {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}